h2 {
    text-align: center;
    text-shadow: 10px 5px 5px rgb(0, 255, 34);
}

h3 {
    color: rgb(201, 40, 18);
    text-align: center;
}

body {
    background-image: url(qt/htmlandcss/imags/yuandan.jpg);
    /*   background-position: center center;*/
    background-repeat: no-repeat;
    background-size: auto;
    /* 979px 780px;*/
}

.coco {
    text-align: center;
}

.one {
    text-align: left;
}

.xiab {
    text-align-last: center;
}

.linke {
    text-align-last: center;
}

#zuoye ul li {
    list-style: none;
    text-decoration: none
}

#zuoye ul li a {
    text-decoration: none
}

.zo {
    position: relative;
    text-align: right center;
}